<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" th:href="commonStyle.css">
<head>
    <meta charset="UTF-8">
    <title>Medicine Details</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        body{
            background-color : #F7F7F7!important;
        }

        tr:nth-child(even){background-color: #f2f2f2}
    </style>
</head>
<body>
<div class="content-wrapper">
    <div class="content-header">
        <h2 style="color:#000">Medicine Details</h2>
    </div>
    <div class="card-info">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-filter"></i>Filters</h3>
        </div>
        <div class="card-body">
            <table class="filter-table">
                <tr>
                    <form th:action="@{searchMedicineByName}">
                        <td>
                            <input type="search" name="name" placeholder="Enter Medicine Name" class="form-control filters" required/>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right">
                            <button  id="fetchData" type="search" class="btn btn-save">Apply</button>
                        </td>
                    </form>
                    <form th:action="@{addMedicines}">
                        <td>
                            <button class="btn btn-save">Add Medicines</button>
                        </td>
                    </form>
                    <form th:action="@{backToSpecificPage}">
                        <td>
                            <button class="btn btn-save">Back</button>
                        </td>
                    </form>
                </tr>
            </table>
        </div>
    </div>
    <table class="filter-table">
        <thead style="background-color: lightgray">
        <tr>
            <th>Medicine Name</th>
            <th>Quantity</th>
            <th>Manufacturing Year</th>
            <th>Expiry Date</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="list : ${list}">
            <tr>
                <td th:text="${list.medicineName}"></td>
                <td th:text="${list.quantity}"></td>
                <td th:text="${list.manufactureDate}"></td>
                <td th:text="${list.expiryDate}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>