<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" th:href="commonStyle.css">
<head>
    <meta charset="UTF-8">
    <title>Patient Details</title>
    <style>
        body{
            background-color : #F7F7F7!important;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:nth-child(even){background-color: #f2f2f2}

    </style>
</head>
<body>
<div class="content-wrapper">
    <div class="content-header">
        <h1>Patient Details</h1>
    </div>
    <div th:if="${msg}" class="successfull-msg">[[${msg}]]</div>
    <div th:if="${msg2}" class="unsuccessful-msg">[[${msg2}]]</div>
    <div class="card-info">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-filter"></i>Filters</h3>
        </div>
        <div class="card-body">
            <table class="filter-table">
                <tr>
                    <form th:action="@{patientSearch_2}">
                        <td>
                            <input type="search" name="aadhar" placeholder="Search By Aadhar Number" class="form-control filters"/>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right">
                            <button  id="fetchData" type="search" class="btn btn-save">Apply</button>
                        </td>
                    </form>
                    <form th:action="@{patient_detail}">
                        <td>
                            <button class="btn btn-save">All Patients</button>
                        </td>
                    </form>
                    <form th:action="@{backToSpecificPage}">
                        <td>
                            <button class="btn btn-save">Back</button>
                        </td>
                    </form>
                </tr>
            </table>
        </div>
    </div>
    <table class="filter-table">
        <thead style="background-color: lightgray">
        <tr>
            <td>Full Name</td>
            <td>Age</td>
            <td>Gender</td>
            <td>Mobile No</td>
            <td>Doctor Name</td>
            <td>Department</td>
            <td>Aadhar No</td>
            <td>Blood Group</td>
            <td>Blood Pressure</td>
            <td>Blood Sugar</td>
            <td>Patient Condition</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="list : ${list}">
            <tr>
                <td th:text="${list.fullname}"></td>
                <td th:text="${list.age}"></td>
                <td th:text="${list.gender}"></td>
                <td th:text="${list.phn}"></td>
                <td th:text="${list.doctorname}"></td>
                <td th:text="${list.department}"></td>
                <td th:text="${list.aadhar}"></td>
                <td th:text="${list.bloodgroup}"></td>
                <td th:text="${list.bloodpressure}"></td>
                <td th:text="${list.bloodsugar}"></td>
                <td th:text="${list.patientcondition}"></td>
                <td><a th:href="@{'/editPatientDetails/'+ ${list.id}}">Edit</a></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>