<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<link rel="stylesheet" th:href="commonStyle.css">
<head>
    <meta charset="UTF-8">
    <title>Receptionist's List</title>
    <style>
        body{
            background-color : #F7F7F7!important;
        }
        h2{
            text-align: center;
            color: darkred;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
<div class="content-wrapper">
    <h2>Receptionist's List</h2>
    <div th:if="${msg}" class="successfull-msg">[[${msg}]]</div>
    <div th:if="${msg2}" class="unsuccessful-msg">[[${msg2}]]</div>
    <div class="card-info">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-filter"></i>Filters</h3>
        </div>
        <div class="card-body">
            <table class="filter-table">
                <tr>
                    <form th:action="@{searchReceptionistByName}">
                        <td>
                            <input type="search" name="name" placeholder="Enter Receptionist Name" class="form-control filters" required/>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right">
                            <button  id="fetchData" type="search" class="btn btn-save">Apply</button>
                        </td>
                    </form>
                    <form th:action="@{findAllReceptionist}">
                        <td class="text-right">
                            <button  id="fetch" type="search" class="btn btn-save">All Receptionist</button>
                        </td>
                    </form>
                    <form th:action="@{back}">
                        <td>
                            <button class="btn btn-save">Back</button>
                        </td>
                    </form>
                </tr>
            </table>
        </div>
    </div>
    <table class="filter-table">
        <thead style="background-color: lightgray">
        <tr>
            <td>Name</td>
            <td>Mobile No</td>
            <td>Address</td>
            <td>State</td>
            <td>Aadhar Id</td>
            <td>Pan No</td>
            <td>Bank Account No</td>
            <td>Salary</td>
            <td>Joining Date</td>
            <td>Timings</td>
            <td>Available or Not</td>
<!--            <td></td>-->
<!--            <td></td>-->
        </tr>
        </thead>
        <tbody>
        <th:block th:each="list : ${list}">
            <tr>
                <td th:text="${list.name}"></td>
                <td th:text="${list.phnNo}"></td>
                <td th:text="${list.address}"></td>
                <td th:text="${list.state}"></td>
                <td th:text="${list.aadharId}"></td>
                <td th:text="${list.panId}"></td>
                <td th:text="${list.bankAccount}"></td>
                <td th:text="${list.salary}"></td>
                <td th:text="${list.joiningDate}"></td>
                <td th:text="${list.timings}"></td>
                <td th:text="${list.availability}"></td>
<!--                <td><a th:href="@{'/deleteReceptionist/'+ ${list.aadharId}}"> Delete</a></td>-->
<!--                <td><a th:href="@{'/editDoctorInfo/' + ${list.aadharId}}">Edit Details</a></td>-->
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>